<footer class="footer">
  <small>
    The <a https://www.facebook.com/duynguyen.7397">Author</a>
    <h8>Duy Nguyen</h8> </a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   'https://www.facebook.com/duynguyen.7397' %></li>
      <li><%= link_to "Contact", 'https://www.facebook.com/duynguyen.7397' %></li>
      <li><a href="https://vnexpress.net/">News</a></li>
    </ul>
  </nav>
</footer>